# Introduction to Machine Learning(Scikit-learn)

In [1]:
import pandas as pd
import numpy as np

In [2]:
heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
X = heart_disease.drop("target",axis=1)
Y = heart_disease["target"]

In [4]:
#Selecting model
#  Classification model
from sklearn.ensemble import RandomForestClassifier

In [5]:
clf = RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
#import the model to
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [7]:
clf.fit(X_train , Y_train)

RandomForestClassifier()

In [8]:
y_predicts = clf.predict(X_test)

In [9]:
y_predicts

array([0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1], dtype=int64)

In [10]:
#evaluate the model

clf.score(X_train ,Y_train )

1.0

In [11]:
clf.score(X_test ,Y_test)

0.8461538461538461

In [12]:
from sklearn.metrics import classification_report ,confusion_matrix ,accuracy_score

In [13]:
print(classification_report(Y_test ,y_predicts))

              precision    recall  f1-score   support

           0       0.87      0.79      0.82        42
           1       0.83      0.90      0.86        49

    accuracy                           0.85        91
   macro avg       0.85      0.84      0.84        91
weighted avg       0.85      0.85      0.85        91

In [14]:
accuracy_score(Y_test , y_predicts)

0.8461538461538461

In [15]:
np.random.seed(60)
for i in range(10,100,10):
    print(f"\ntrying model with {i} estimators")
    clf = RandomForestClassifier(n_estimators = i).fit(X_train , Y_train)
    print(f"model accuracy on test score :{clf.score(X_test,Y_test)*100:.2f}% ")

trying model with 10 estimators
model accuracy on test score :79.12%

trying model with 20 estimators
model accuracy on test score :74.73%

trying model with 30 estimators
model accuracy on test score :82.42%

trying model with 40 estimators
model accuracy on test score :84.62%

trying model with 50 estimators
model accuracy on test score :83.52%

trying model with 60 estimators
model accuracy on test score :81.32%

trying model with 70 estimators
model accuracy on test score :79.12%

trying model with 80 estimators
model accuracy on test score :80.22%

trying model with 90 estimators
model accuracy on test score :84.62%

In [16]:
import joblib

In [17]:
joblib.dump(clf,"Rand_Forest_model.pkl")

['Rand_Forest_model.pkl']

In [18]:
loaded_model = joblib.load("Rand_Forest_model.pkl")
loaded_model.score(X_test ,Y_test)

0.8461538461538461

# Car Sales Extended data using RandomForestRegressor

In [19]:
data =pd.read_csv("car-sales-extended.csv")
data

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [20]:
data.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [21]:
X = data.drop("Price",axis=1)
Y= data["Price"]

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [99]:
categorical = ["Make","Colour","Doors"] 
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([("one_hot",one_hot,categorical)],
                              remainder = "passthrough")

trans_x = tranformer.fit_transform(X)
trans_x
pd.DataFrame(trans_x)

                                                     0
0      (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
1      (0, 0)\t1.0\n  (0, 6)\t1.0\n  (0, 13)\t1.0\n...
2      (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
3      (0, 3)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
4      (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 11)\t1.0\n...
..                                                 ...
945    (0, 3)\t1.0\n  (0, 5)\t1.0\n  (0, 12)\t1.0\n...
946    (0, 4)\t1.0\n  (0, 9)\t1.0\n  (0, 11)\t1.0\n...
947    (0, 2)\t1.0\n  (0, 6)\t1.0\n  (0, 12)\t1.0\n...
948    (0, 1)\t1.0\n  (0, 9)\t1.0\n  (0, 12)\t1.0\n...
949    (0, 3)\t1.0\n  (0, 6)\t1.0\n  (0, 12)\t1.0\n...

[950 rows x 1 columns]

In [24]:
np.random.seed(42)
X_train,X_test,Y_train,Y_test = train_test_split(trans_x,Y,test_size=0.2)
X_train,X_test,Y_train,Y_test

(array([[0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 1.12004e+05],
        [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 3.56730e+04],
        [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 1.46824e+05],
        ...,
        [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 6.18760e+04],
        [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 2.86250e+04],
        [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 1.50582e+05]]),
 array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
         0.00000e+00, 1.96130e+05],
        [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 2.23875e+05],
        [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
         0.00000e+00, 1.10490e+04],
        ...,
        [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 9.08560e+04],
        [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 5.04750e+04],
        [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
         0.00000e+00, 2.38425e+05]]),
 29     13586
 535    35683
 695    16285
 557    22825
 836    20938
        ...
 106    13283
 270     9379
 860     5922
 435     8753
 102     7404
 Name: Price, Length: 800, dtype: int64,
 521    13707
 737    12650
 740    19500
 660    26880
 411    41294
        ...
 408    10855
 332     6460
 208    33077
 613     8164
 78      6502
 Name: Price, Length: 200, dtype: int64)

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
model = RandomForestRegressor()
model.fit(X_train ,Y_train)

RandomForestRegressor()

In [27]:
model.score(X_test ,Y_test)

0.3235867221569877

What if we have missing data

In [28]:
missing =pd.read_csv("car-sales-extended-missing-data.csv")

In [29]:
missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [30]:
missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [31]:
missing["Make"].fillna("missing",inplace=True)
missing["Colour"].fillna("missing",inplace=True)
missing["Odometer (KM)"].fillna(missing["Odometer (KM)"].mean(),inplace=True)
missing["Doors"].fillna(4,inplace=True)

In [32]:
missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [33]:
missing.dropna(inplace=True)

In [34]:
missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [35]:
len(missing)

950

In [36]:
X = missing.drop("Price" ,axis =1)
Y = missing["Price"]
missing

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[950 rows x 5 columns]

In [37]:
categorical = ["Make","Colour","Doors"] 
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([("one_hot",one_hot,categorical)],
                              remainder = "passthrough")

trans_x = tranformer.fit_transform(X)
trans_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [38]:
#import the model to
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(trans_x,Y,test_size=0.3)
X_train,X_test,Y_train,Y_test

(<665x15 sparse matrix of type '<class 'numpy.float64'>'
 	with 2660 stored elements in Compressed Sparse Row format>,
 <285x15 sparse matrix of type '<class 'numpy.float64'>'
 	with 1140 stored elements in Compressed Sparse Row format>,
 657    16308.0
 849    13417.0
 327    31392.0
 916    17315.0
 835    30191.0
         ...
 494    10919.0
 295    10872.0
 703     9104.0
 652    31208.0
 14     18946.0
 Name: Price, Length: 665, dtype: float64,
 138    14795.0
 69     32379.0
 897    22139.0
 499     8979.0
 300    13200.0
         ...
 395    19337.0
 748    13934.0
 20     24130.0
 514    16519.0
 239    10456.0
 Name: Price, Length: 285, dtype: float64)

# Using scikit learn we will deal with the missing Data

In [39]:
missing_data =  pd.read_csv("car-sales-extended-missing-data.csv")

In [40]:
missing_data

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [41]:
missing_data.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [42]:
missing_data.dropna(subset="Price",inplace=True)

In [43]:
missing_data.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [44]:
X = missing_data.drop("Price" ,axis =1)
Y = missing_data["Price"]

In [45]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [98]:
#fill the missing value with scikit learn
cat_impute = SimpleImputer(strategy = "constant" ,fill_value="missing")
door_impute = SimpleImputer(strategy = "constant" ,fill_value=4)
num_impute = SimpleImputer(strategy = "mean")

#Define Columns
cat_feature =["Make" ,"Colour"]
door_feature =["Doors"]
num_feature =["Odometer (KM)"]

#Create an imputer

imputer = ColumnTransformer([("cat_impute",cat_impute,cat_feature),
                            ("door_imputer",door_impute,door_feature),
                            ("num_impute",num_impute,num_feature)])

t_x = imputer.fit_transform(X)
print(t_x)

missing_data_filled=pd.DataFrame(t_x,columns =["Make" ,"Colour","Odometer (KM)","Doors"])
missing_data_filled

[['Honda' 'White' 4.0 35431.0]
 ['BMW' 'Blue' 5.0 192714.0]
 ['Honda' 'White' 4.0 84714.0]
 ...
 ['Nissan' 'Blue' 4.0 66604.0]
 ['Honda' 'White' 4.0 215883.0]
 ['Toyota' 'Blue' 4.0 248360.0]]

        Make Colour Odometer (KM)     Doors
0      Honda  White           4.0   35431.0
1        BMW   Blue           5.0  192714.0
2      Honda  White           4.0   84714.0
3     Toyota  White           4.0  154365.0
4     Nissan   Blue           3.0  181577.0
..       ...    ...           ...       ...
945   Toyota  Black           4.0   35820.0
946  missing  White           3.0  155144.0
947   Nissan   Blue           4.0   66604.0
948    Honda  White           4.0  215883.0
949   Toyota   Blue           4.0  248360.0

[950 rows x 4 columns]

In [47]:
missing_data_filled.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [48]:
categorical = ["Make","Colour","Doors"] 
one_hot = OneHotEncoder()
tranformer = ColumnTransformer([("one_hot",one_hot,categorical)],
                              remainder = "passthrough")

trans_x = tranformer.fit_transform(missing_data_filled)
trans_x   


#import the model to
from sklearn.model_selection import train_test_split

In [49]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor 
X_train,X_test,Y_train,Y_test = train_test_split(trans_x,Y,test_size=0.2)
X_train,X_test,Y_train,Y_test

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train ,Y_train)
model.score(X_test,Y_test)

-0.044955128011236356

# Pulling directly from github

In [50]:
# Reimport the DataFrame
car_sales_missing = pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [51]:
# Drop the rows with missing in the "Price" column
car_sales_missing.dropna(subset=["Price"], inplace=True)

car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [52]:
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

# Split data into train and test
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [53]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [54]:
# Fill categorical values with 'missing' & numerical with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")


# Define different column features
categorical_features = ["Make", "Colour"]
door_feature = ["Doors"]
numerical_feature = ["Odometer (KM)"]

In [55]:
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, categorical_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, numerical_feature)])

# Fill train and test values separately
filled_X_train = imputer.fit_transform(X_train)
filled_X_test = imputer.transform(X_test)

# Check filled X_train
filled_X_train

array([['Honda', 'White', 4.0, 71934.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Honda', 'White', 4.0, 42844.0],
       ...,
       ['Toyota', 'White', 4.0, 196225.0],
       ['Honda', 'Blue', 4.0, 133117.0],
       ['Honda', 'missing', 4.0, 150582.0]], dtype=object)

In [56]:
# Get our transformed data array's back into DataFrame's
car_sales_filled_train = pd.DataFrame(filled_X_train, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled_test = pd.DataFrame(filled_X_test, 
                                      columns=["Make", "Colour", "Doors", "Odometer (KM)"])

# Check missing data in training set
car_sales_filled_train.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [57]:
# Check to see the original... still missing values
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [58]:
# Now let's one hot encode the features with the same code as before 
categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                 one_hot, 
                                 categorical_features)],
                                 remainder="passthrough")

# Fill train and test values separately
transformed_X_train = transformer.fit_transform(car_sales_filled_train)
transformed_X_test = transformer.transform(car_sales_filled_test)

# Check transformed and filled X_train
transformed_X_train.toarray()

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 7.19340e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.62665e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 4.28440e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.96225e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.33117e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.50582e+05]])

In [59]:
# Now we've transformed X, let's see if we can fit a model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

# Make sure to use transformed (filled and one-hot encoded X data)
model.fit(transformed_X_train, y_train)
model.score(transformed_X_test, y_test)

0.21229043336119102

# Choicing the right Model

### Some Things to note

   * Sklearn refers to machine learning models, algorithm as estimaters.   
   * Clasification : which labels are predicted
         *classification as estimator "clf" (short for classifier) used as a classification estimators
   * Regression problem _ predicting a value

## We will use california data set provided by sckit-learn library

In [60]:

from sklearn.datasets import fetch_california_housing
import pandas as pd

In [61]:

housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [62]:
housing_df = pd.DataFrame(housing["data"],columns = housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [63]:
# importing the algorithms 
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

In [64]:
#split into target and data
np.random.seed(42)

x = housing_df.drop("target",axis = 1)
y = housing_df["target"]
y.head()

x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.3)
x_train , x_test ,y_train ,y_test

model = Ridge()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.5958178603951637

# Using Different model to solve above regression model
### first Using esemble randomforest

In [65]:
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [66]:
housing_df = pd.DataFrame(housing["data"],columns = housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [67]:
# importing the algorithms 
import numpy as np
from sklearn.ensemble import RandomForestRegressor 
from sklearn.model_selection import train_test_split

In [68]:
#split into target and data
np.random.seed(42)

x = housing_df.drop("target",axis = 1)
y = housing_df["target"]
y.head()

x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.3)
x_train , x_test ,y_train ,y_test

model = RandomForestRegressor()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.8058066189927485

# Use Lasso Regression model`

In [69]:

housing = fetch_california_housing()

housing_df = pd.DataFrame(housing["data"],columns = housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [70]:
# importing the algorithms 
import numpy as np
from sklearn.linear_model import Lasso

from sklearn.model_selection import train_test_split

In [71]:
#split into target and data
np.random.seed(42)

x = housing_df.drop("target",axis = 1)
y = housing_df["target"]
y.head()

x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.3)
x_train , x_test ,y_train ,y_test

model = Lasso()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.28800038367478387

# Use SGDRegressor model`

In [72]:
housing = fetch_california_housing()

housing_df = pd.DataFrame(housing["data"],columns = housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])
housing_df

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [73]:
# importing the algorithms 
import numpy as np
from sklearn.linear_model import SGDRegressor

from sklearn.model_selection import train_test_split

In [74]:
#split into target and data
np.random.seed(42)

x = housing_df.drop("target",axis = 1)
y = housing_df["target"]
y.head()

x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.3)
x_train , x_test ,y_train ,y_test

model = SGDRegressor()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

-7.065342809148949e+28

In [85]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import SGDRegressor
from sklearn.model_selection import train_test_split, GridSearchCV

# Load the California housing dataset
housing = fetch_california_housing()

# Create a DataFrame from the data and target
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])

# Split the data into training and test sets
np.random.seed(42)
x = housing_df.drop("target", axis=1)
y = housing_df["target"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

# Define the hyperparameters and their search space
param_grid = {
    'alpha': [0.0001, 0.001, 0.01, 0.1],
    'max_iter': [100, 200, 300],
    'tol': [1e-3, 1e-4, 1e-5]
}

# Create the GridSearchCV object
grid_search = GridSearchCV(SGDRegressor(), param_grid, cv=5)

# Fit the model and perform hyperparameter tuning
grid_search.fit(x_train, y_train)

# Get the best hyperparameters and the corresponding score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

# Get the best model with the best hyperparameters
best_model = grid_search.best_estimator_

# Evaluate the model with the best hyperparameters on the test set
test_score = best_model.score(x_test, y_test)

print("Best Hyperparameters:", best_params)
print("Best Score:", best_score)
print("Test Score with Best Model:", test_score)

Best Hyperparameters: {'alpha': 0.01, 'max_iter': 300, 'tol': 0.001}
Best Score: -1.1894519823710142e+29
Test Score with Best Model: -2.6647267680860704e+27

# Classification Models

## LinearSVC model imported from sklearn.svm

In [76]:
heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [77]:
import numpy as np
from sklearn.svm import LinearSVC

from sklearn.model_selection import train_test_split

In [78]:
np.random.seed(42)
x = heart_disease.drop("target",axis = 1)
y = heart_disease["target"]

x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.2)

model = LinearSVC(dual=False)
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.8688524590163934

## KN Neighbour classifier

In [79]:
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split


heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease



np.random.seed(42)
x = heart_disease.drop("target",axis = 1)
y = heart_disease["target"]

x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.2)

model = KNeighborsClassifier()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.6885245901639344

## RandomForestclassifier

In [80]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split


heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease



np.random.seed(42)
x = heart_disease.drop("target",axis = 1)
y = heart_disease["target"]

x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.2)

model = RandomForestClassifier()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.8524590163934426

## SGDClassifier

In [81]:

import numpy as np
from sklearn.linear_model import SGDClassifier

from sklearn.model_selection import train_test_split


heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease



np.random.seed(42)
x = heart_disease.drop("target",axis = 1)
y = heart_disease["target"]

x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.2)

model = SGDClassifier()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.6229508196721312

## .kernel_approximation

In [4]:

import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

heart_disease = pd.read_csv("013 heart-disease.csv")

np.random.seed(42)
x = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

model = SVC()
model.fit(x_train, y_train)
score = model.score(x_test, y_test)
print("Model Score:", score)

Model Score: 0.7049180327868853

# Fit the model/algorithm on our data and use it to make prediction

In [1]:

import numpy as np
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
#fit find pattern in the data for the model


heart_disease = pd.read_csv("013 heart-disease.csv")
heart_disease



np.random.seed(42)
x = heart_disease.drop("target",axis = 1)
y = heart_disease["target"]

x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size = 0.2)

model = RandomForestClassifier()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

#Will use now prediction 

y_pred = model.predict(x_test)
y_pred ,np.array(y_test)


# below are three ways to predict same value 
np.mean(y_pred == y_test)

model.score(x_test ,y_test)

accuracy_score(y_pred , y_test)

0.8524590163934426

In [8]:
# Prdict.proba_
#get probablity of each posibile production

model.predict_proba(x_test[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [9]:
 model.predict(x_test[:5])

array([0, 1, 1, 0, 1], dtype=int64)

In [19]:
# Example Of Regression
from sklearn.datasets import fetch_california_housing
from sklearn.ensemble import RandomForestRegressor

housing = fetch_california_housing()

housing_df = pd.DataFrame(housing["data"],columns = housing["feature_names"]) 
housing_df["target"] = pd.DataFrame(housing["target"])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [49]:
x = housing_df.drop("target",axis=1)
y = housing_df["target"]

np.random.seed(42)
x_train ,x_test ,y_train ,y_test = train_test_split(x,y,test_size=0.2)

In [50]:
model = RandomForestRegressor() 
model.fit(x_train , y_train)
model.score(x_test ,y_test)

0.8065734772187598

In [53]:
y_preds=model.predict(x_test)
y_preds

array([0.49384  , 0.75494  , 4.9285964, ..., 4.8363785, 0.71782  ,
       1.67901  ])

In [38]:
np.array(y_test)

array([0.477  , 0.458  , 5.00001, ..., 5.00001, 0.723  , 1.515  ])

In [41]:
#mean absolute error
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [44]:
mse = mean_squared_error(y_test,y_preds)
print(f"mean squared error is {mse}")
mae = mean_absolute_error(y_test,y_preds)
print(f"mean absolute error is {mae}")

mean squared error is 0.2534245000297677
mean absolute error is 0.3267013612887598