# Task 1

In [ ]:
#Task 1: Store your Bio data (Name, roll number, age, date of birth
#and Gender) in the variables.

Name = input("Your Name : ")
rollNo = input("Your Roll Number : ")
DateofBirth = input("Your date of birth : ")
age = int(input("Your age : "))
gender = input(" your gender : ")

# Task 2

In [ ]:
#Task 2: Write a program to convert $ dollar into Pakistani Rupees.

def convert(pkr):
    dollar = pkr * 0.0035
    print(f"The converted Pkr to Dollar is {dollar}")
    return dollar

pkr = int(input("Pkr amount to be converted : "))
convert(pkr)

# Task 3

In [ ]:
#Take two number from user and then Calculate
#these manipulations sum, subtract, multiple and division


# Take input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform the mathematical operations
sum_result = num1 + num2
sub_result = num1 - num2
mul_result = num1 * num2
div_result = num1 / num2

# Print the results
print("Sum:", sum_result)
print("Difference:", sub_result)
print("Product:", mul_result)
print("Division:", div_result)

# Task 4

In [ ]:
#Task4: Please draw these diagrams.
#***********************
#*                     *
#*                     *
#*                     *
#*                     *
#***********************

def diagram():
    width = 23
    print('*' * width)
    for _ in range(height):
          print('*' + '                     ' + '*')
    print('*' * width)
diagram()

# Task 5

In [ ]:
#Task 5: take two number from user and divide them and display
#them without floating point.

# Take input
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# division
result = num1 // num2

# Print the result
print("Result:", result)

# Task 6

In [ ]:
#Task 6: Take the value from user in Celsius and covert into
#Fahrenheit.
celsius = float(input("Enter the temperature in Celsius: "))

# Celsius to Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Print the converted temperature
print("Fahrenheit:", fahrenheit)

# Task 7

In [ ]:
#Task 7: find the slope x1=5, x2=10 Where y1=3, y2=5 , b will be
#enter from user (m=y2-y1/x2-x1)

b = float(input("Enter the value of b (y-intercept): "))


x1 = 5
x2 = 10
y1 = 3
y2 = 5

#slope (m)
m = (y2 - y1) / (x2 - x1)

# Print the slope (m)
print("Slope (m):", m)

# Task 8

In [ ]:
#Task 8: Enter your height in feet
#and centimetres then system will display in meters

height_feet = float(input("Enter your height in feet: "))


height_cm = float(input("Enter your height in centimeters: "))


height_meters = height_feet * 0.3048
print('from feet to meter' , height_meters)

height_centimeter = height_cm / 100

print("from centimeter to meter: ",height_centimeter)

# Task 9

In [ ]:
subject1_marks = float(input("Enter marks for subject 1: "))
subject2_marks = float(input("Enter marks for subject 2: "))
subject3_marks = float(input("Enter marks for subject 3: "))

# Calculate total marks
total_marks = subject1_marks + subject2_marks + subject3_marks


percentage = (total_marks / (3 * 100)) * 100


subject1_percentage = (subject1_marks / 100) * 100
subject2_percentage = (subject2_marks / 100) * 100
subject3_percentage = (subject3_marks / 100) * 100


print("Total Marks: ", total_marks)
print("Overall Percentage: ", percentage)


print("Subject 1 Percentage: ", subject1_percentage)
print("Subject 2 Percentage: ", subject2_percentage)
print("Subject 3 Percentage: ", subject3_percentage)